<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/stories">Story Creator</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/stories">My Stories</a>
        <a class="nav-item nav-link" href="/stories">My Contributions</a>
        <a class="nav-item nav-link" href="/story/new">Create Story</a>
        <a class="nav-item nav-link" href="/stories">Search</a>   
        <% if ((loginInfo.loggedInUser ) && (loginInfo.loggedInUser.id)) { %>
          <a class="nav-item nav-link" href="/users/<%= loginInfo.loggedInUser.id %>">User info</a>   
        <% } else { %>
            <a class="nav-item nav-link" href="/users/new">Register</a>
        <% } %>
        <div style="position:absolute; right:175px">
        <% if ((!loginInfo.loggedInUser) || (!loginInfo.loggedInUser.id)) { %>
          <a class="nav-item nav-link" href="/login">Login</a>
        <% }%>
        </div>
        <div style="position:absolute; right:75px">
          <% if ((loginInfo.loggedInUser) && (loginInfo.loggedInUser.id)) { %>
            <form action="/login/logout" method="POST">
              <h5>Logged in as: <%= loginInfo.loggedInUser.username %> 
                <button type="submit" class="btn btn-primary">Logout</button>
              </h5>
            </form>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</header>
