<!DOCTYPE html>
<html lang="en">

<!-- TODO:  this is for showing and accepting login -->

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
  />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <main>
    <h1>Login</h1>
    <% if (message !== 'undefined') { %>
      <span class="errorMessage"><%= message %></span>
    <% } %>
    <% if (typeof user === 'undefined') { %>
    <FORM action="/login" method="POST"> 
      <label>Username:</label>
      <input id="username" type="text" name="username"/>
      <label>Password:</label>
      <input id="password" type="password" name="password"/>
      <button type="submit">Login</button>
    </FORM>
    <% } else { %>
      <FORM action="/login/logout" method="POST"> 
        <label><%= user.username %> is logged in.</label>
        <button type="submit">Logout</button>
      </FORM>

    <% } %>
  </main>
</body>
</html>