<!DOCTYPE html>
<html lang="en">

<!-- TODO:  this is for showing and accepting login -->

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <h1>User Details</h1>
  <label>Username:</label>
  <textarea id="username"></textarea>
  <label>First Name:</label>
  <textarea id="firstName"></textarea>
  <label>Last Name:</label>
  <textarea id="lastName"></textarea>
  <label>Email:</label>
  <textarea id="email"></textarea>
  <label>Password:</label>
  <textarea id="password"></textarea>
</body>

</html>