body {
  color: black;
  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

.navbar-custom {
  background-color: rgb(23, 55, 63);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav,
.navbar-custom a {
    color: white;
}

.navbar-custom a:hover {
  color: rgb(226, 226, 226);
}

.voteSelected {
  color : blue
}