body {
  background: white;
  color: black;
}

.navbar-custom {
  background-color: rgb(236, 236, 236);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav,
.navbar-custom a {
    color: rgb(236, 10, 10);
}

.navbar-custom a:hover {
  color: rgb(242, 8, 8);
}