
.content_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  margin-top: 100px;
}

#stories_container {
  width: 100%;
  align-content: center;
  justify-content: center;
}

#mySidebar {
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 100px;
}

#sidebar-open {
  position: fixed;
  left: 0;
  top: 55px
}

#optionsForm {
  flex-direction: column;
  margin: 10px;
  margin-left: 0;
  border-style: solid;
  border-radius: 20px;
  border-width: 5px;
  padding: 20px;
  gap: 10px;
}

#optionsForm label {
  display: flex;
  gap: 5px;
  margin: 0px;
}

.search_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search_container label {
  justify-content: center;
}

.radio_container div {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 5px;
  padding: 10px;
}

#optionsForm .search_field {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.story_article {
  display: flex;
  align-self: center;
  flex-direction: column;
  border-style: solid;
  border-radius: 30px;
  border-width: 5px;
  margin: 10px;
  padding: 15px;
  width: 90%;
}

.story_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 80%;
  align-self: center;
  margin-bottom: 5px;
}

.story_header h2 {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 80%;
  height: 45px;
  text-overflow: clip;
  overflow: hidden;
}

.story_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}

