

article {
  margin: 50px;
  border: solid;
  width: 90%;
  padding: 30px;
}

article header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

article div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  word-break: break-word;
}

article footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;

}

#contribution-form {
  align-items: center;
  width: 90%;
  gap: 10px;
}

textarea {
  display: flex;
  width: 90%;
  height: 200px;
}

#contributions-container {
  width: 90%;
  align-items: center;
}

#contribution-form {
  display: flex;
  flex-direction: column;
}


